* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  background: rgb(171, 156, 156);
  color: #1a1a1a;
  font-weight: 500;
  align-items: center;
  padding: 0 30px;
}

.navbar div {
  display: flex;
  gap: 5rem;
 font-weight: 500;
}